VITE_APP_VERSION=$npm_package_version
VITE_APP_NAME=$npm_package_name

## CAMINHO DA URL VIA IP DO FRONT-END
VITE_APP_URL_FRONT_IP=http://10.71.0.207:7000

## CAMINHO DA URL VIA LOCALHOST DO FRONT-END
VITE_APP_URL_FRONT_LOCALHOST=http://localhost:7000

## CAMINHO DA URL VIA DOMINIO (HTTPS) DA API
VITE_APP_URL_API_DOMAIN=https://example.com.br

## CAMINHO DA URL VIA IP DA API
VITE_APP_URL_API_IP=http://192.168.1.1:3001

## PORTA QUE A APLICAÇÃO IRÁ INICIAR
PORT=7000